<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.sggspring5.spring5.bean.User"/>
    <bean id="dept" class="com.sggspring5.spring5.bean.Dept"/>

    <bean id="emp" class="com.sggspring5.spring5.bean.Emp">
        <property name="dept" ref="dept"/>
    </bean>

    <bean id="book" class="com.sggspring5.spring5.bean.Book">
        <property name="bname" value="金包银"/>
        <property name="bauthor" value="蔡振南"/>
        <property name="address" value="台湾省嘉义县新港乡"/>
    </bean>


</beans>